Greeter {
    text-align: center;
    position: relative;
    offset: 0 2;
}

#stats {
    position: relative;
    offset: 50% 10;
    width: 50%;
}

#stats .profile {
    margin: 2 0;
}

Footer {
    background: transparent;
}
